section#ost {
  font-family: 'Pacifico';
}
section#ost h1 {
  margin-bottom: 2px;
}
section#ost a {
  font-family: 'Pacifico' cursive;
  margin-left: 850px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 40px;
}
section#ost a:hover {
  color: yellow;
}
section#ost img {
  border-radius: 20px;
  margin-left: 43%;
  height: 300px;
  width: 303px;
}
section#ost .ostgostg {
  margin-top: -20px;
  font-family: 'Pacifico', cursive;
  height: 460px;
  background-color: #dddbdb;
  width: 100%;
}
section#ost .ostgostg button {
  color: #fff;
  font-family: 'Fredoka One', cursive;
  margin-left: 43%;
  border: 2px solid red;
  border-radius: 5px;
  background-color: red;
  text-transform: uppercase;
  padding: 16px;
  padding-left: 87px;
  padding-right: 89px;
  outline: 0;
}
section#ost .ostgostg button:focus {
  outline: 0;
  background-color: #8a8c91;
  border: #8a8c91;
  color: black;
  font-family: 'Fredoka One';
  padding: 16px;
  padding-left: 89px;
  padding-right: 89px;
}
header {
  margin-top: -20px;
  height: 80px;
  width: 100%;
  background-color: #000;
}
header .headerInfo {
  margin-left: 100px;
  height: 100px;
}
header ul {
  text-shadow: 3px 6px 8px #dedede;
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}
header a {
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  height: 60px;
  font-size: 30px;
  font-family: 'Chango';
}
header a:hover {
  text-shadow: 3px 6px 8px #ff3f40;
  color: #ff3f40;
}
section#about .imag img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#about .about .sideBar {
  width: 100px;
  height: 100px;
  margin-top: 0px;
}
section#about .about .sideBar img {
  display: block;
  width: 1931px;
}
section#about .about h2 {
  color: #fff;
  text-align: center;
  margin-top: -30px;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Abril Fatface', cursive;
}
section#about .about h2:hover {
  cursor: default;
}
section#about .about h2 span {
  color: #f9f500;
  text-shadow: 3px 5px 4px #f00000;
}
section#about .about h2 span:hover {
  cursor: default;
}
section#about .about h2 span:hover {
  cursor: default;
}
section#about .about h2 .k {
  color: #00f931;
  text-shadow: 3px 5px 4px #0000ff;
}
section#about .about h2 .a {
  color: #f90000;
  text-shadow: 3px 5px 4px #fff;
}
section#about .about h2 .n {
  text-shadow: 3px 5px 4px #00f931;
  color: #0800f9;
}
section#about .about h2 .a2 {
  text-shadow: 3px 5px 4px #f9f500;
  color: #f900a6;
}
section#about .about h2 .l {
  text-shadow: 3px 5px 4px #f00000;
  color: #fff;
}
section#about .about h2 .e {
  text-shadow: 3px 5px 4px #f442eb;
  color: #9100f9;
}
section#about .about p {
  color: #ff1c1c;
  margin-top: -115px;
  margin-left: 700px;
}
section#about .about p:hover {
  cursor: default;
}
section#about .about .img2 img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#about .about .img3 img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#about .about .img4 img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#about .about .img5 img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#about .about .img6 img {
  margin-left: 500px;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-radius: 80px ;
  -webkit-border-radius: 80px ;
  -moz-border-radius: 80px ;
}
section#footer .footer {
  background-color: #000;
  margin-top: 124px;
  color: #fff;
  width: 1931px;
  margin-top: 0px;
  font-size: 30px;
  height: 300px;
  font-family: 'Righteous', cursive;
}
section#footer .footer .make {
  text-shadow: 3px 3px 0px #ff0000;
  padding-top: 15px;
  margin-left: 10px;
  display: block;
}
section#footer .footer .make:hover {
  cursor: default;
}
section#footer .footer .make a {
  text-shadow: 3px 3px 0px #000;
  font-family: ;
  display: block;
  margin-top: 20px;
  margin-bottom: -150px;
  color: #0011ff;
  font-family: 'Pacifico';
  text-decoration: none;
  max-width: 150px;
  margin-left: 20px;
}
section#footer .footer .make a:hover {
  color: #f90000;
}
section#footer .footer .make a span {
  font-family: "aNTON";
  color: #f90000;
}
section#footer .footer .make a span:hover {
  color: #0011ff;
  font-family: 'Merienda';
}
section#footer .footer .konf {
  text-shadow: 3px 3px 0px #ff0000;
  margin-left: 360px;
  display: block;
  padding-top: 0px;
}
section#footer .footer .konf a {
  padding-top: 16px;
  display: block;
  color: #fff;
  text-decoration: none;
}
section#footer .footer .channel {
  text-shadow: 3px 3px 0px #ff0000;
  display: block;
  text-align: right;
  margin-right: 120px;
  margin-top: -68px;
}
section#footer .footer .channel:hover {
  cursor: default;
}
section#footer .footer .channel a {
  text-shadow: 3px 3px 6px #ff0000;
  max-width: 100px ;
  margin-left: 1420px;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 25px;
}
section#footer .footer .channel a:hover {
  text-shadow: 3px 3px 5px #fff;
  font-family: "merienda";
  color: yellow;
}
section#slider {
  margin-top: -16px;
  height: 600px;
  background-image: url("../img/fonnjpg.jpg");
}
section#slider h1 {
  text-shadow: 3px 12px 10px #000;
  font-family: 'Pacifico';
  font-size: 50px;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 500px;
  right: 900px;
}
section#slider h1:hover {
  cursor: default;
  color: yellow;
}
section#slider .wrapper {
  min-width: 1000px;
  margin: 0 auto;
}
section#slider .wrapper .accordion {
  border: none;
  padding: 0;
  justify-content: center;
  display: flex;
}
section#slider .wrapper .accordion li {
  border: none;
  padding: 1px 1px 0;
  cursor: pointer;
  display: block;
  -webkit-box-shadow: 1px 1px 1px #7e807e;
  -moz-box-shadow: 1px 1px 1px #7e807e;
  box-shadow: 1px 1px 1px #7e807e;
  width: 50px;
  overflow: hidden;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
section#slider .wrapper .accordion li:nth-child(5):hover {
  width: 50px;
}
section#slider .wrapper .accordion li:nth-child(5) {
  width: 600px;
}
section#slider .wrapper .accordion li:hover {
  cursor: pointer;
  width: 600px;
  -webkit-box-shadow: 1px 1px 1px #35c5fa;
  -moz-box-shadow: 1px 1px 1px #35c5fa;
  box-shadow: 1px 1px 1px #35c5fa;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
section#slider .wrapper .accordion li img {
  border: none;
  padding-top: 100px;
  height: 400px;
  max-width: 600px;
}
section#vid .vid {
  width: 1931px;
  height: 880px;
  background-color: #dedede;
}
section#vid .vid h1 {
  text-shadow: 4px 7px 5px #000;
  width: 800px;
  font-family: 'Chango';
  font-size: 50px;
  margin-left: 560px;
  text-align: center;
  margin-top: 117px;
  color: #0000ff;
}
section#vid .vid h1:hover {
  cursor: default ;
  color: #ff0000;
}
section#vid .vid h1 span {
  color: #ff0000;
  font-family: 'Permanent Marker';
}
section#vid .vid h1 span:hover {
  color: #0000ff;
}
section#vid video {
  text-align: center;
  position: absolute;
  top: 2350px;
  right: 20%;
  height: 610px;
}
h2 span {
  color: red;
  font-family: "Permanent Marker";
}
body {
  margin: 0 -50px 0 0;
  height: 0;
  cursor: default;
  overflow-x: hidden;
}
.lea {
  margin-left: 30px;
}
.lea .output {
  font-weight: bold;
}
.lea #payment {
  text-decoration: underline;
}
.lea #graph {
  border: 1px solid #000;
}
.lea th,
.lea td {
  vertical-align: top;
}
.test {
  margin-left: 20px;
}
.test .head {
  height: 100px;
  width: 1930px;
  background-color: #666;
}
.test .block {
  float: left;
  height: 100px;
  width: 400px;
  background-color: #ddd;
}
.test .block2 {
  margin-right: 980px;
  float: right;
  color: #fff;
  height: 100px;
  width: 500px;
  background-color: #000;
}
.test .footer {
  clear: both;
  height: 50px;
  width: 1930px;
  background-color: #a3a8b2;
}
